In [58]:
import pandas as pd

In [60]:
vine_df = pd.read_csv('vine_table.csv')
vine_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
4,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N

In [61]:
totals_df = vine_df[vine_df['total_votes'] >=20]
totals_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
16,R1AABFZH0J0C0C,3.0,17.0,35.0,N,N
17,R3SJYLG07EHNE9,2.0,16.0,34.0,N,N
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
...,...,...,...,...,...,...
3105453,R2OD2TECAR3RM,5.0,19.0,20.0,N,N
3105473,R117GB0UNIVGV9,5.0,33.0,33.0,N,N
3105479,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N
3105507,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N
3105516,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N

In [62]:
helpful_df= totals_df.loc[(totals_df["helpful_votes"]/totals_df["total_votes"]>= 0.5)]
helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N
...,...,...,...,...,...,...
3105453,R2OD2TECAR3RM,5.0,19.0,20.0,N,N
3105473,R117GB0UNIVGV9,5.0,33.0,33.0,N,N
3105479,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N
3105507,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N
3105516,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N

In [63]:
paid_vine_df= helpful_df[helpful_df['vine'] == 'Y']
paid_vine_df

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [64]:
unpaid_vine_df= helpful_df[helpful_df['vine'] == 'N']
unpaid_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N
...,...,...,...,...,...,...
3105453,R2OD2TECAR3RM,5.0,19.0,20.0,N,N
3105473,R117GB0UNIVGV9,5.0,33.0,33.0,N,N
3105479,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N
3105507,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N
3105516,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N

In [65]:
total_paid = len(paid_vine_df)
total_paid

0

In [66]:
total_unpaid = len(unpaid_vine_df)
total_unpaid

403807

In [67]:
count_paid_five = len(paid_vine_df[paid_vine_df['star_rating']==5])
count_paid_five

0

In [68]:
count_unpaid_five = len(unpaid_vine_df[unpaid_vine_df['star_rating']==5])
count_unpaid_five

242889

In [69]:
#Pecentage of 5 stars paid reveiws can't be calculated since it will involve dividing by zero
#paid_percentage = count_paid_five / total_paid
#paid_percentage

In [70]:
#Pecentage of 5 stars unpaid reveiws 
unpaid_percentage = count_unpaid_five / total_unpaid
unpaid_percentage

0.6014977452099641